@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-bg{
background-image: url('./components/images/newt.jpg');
background-size: cover;
background-position:center;
height:100vh;
}
